@import "tailwindcss";

@layer base {
  :root {
    /* Theme: Sunset Vibes (Default) */
    --primary: #ff6b6b;
    --secondary: #ffe66d;
    --accent: #4ecdc4;
    --surface: #f7f9fc;
    --text-main: #2d3436;
    --text-screen: #ffffff;

    --radius: 1.5rem;
  }
}

body {
  background-color: var(--surface);
  color: var(--text-main);
}
